[submodule ".registry"]
	path = .registry
	url = https://github.com/ccbr/ccbr.r-universe.dev
	branch = HEAD
[submodule "MOObject"]
	path = MOObject
	url = https://github.com/CCBR/MOObject
[submodule "MOSuite"]
	path = MOSuite
	url = https://github.com/CCBR/MOSuite
[submodule "functracer"]
	path = functracer
	url = https://github.com/CCBR/functracer
